:root {
  --primary-color: #f1c70d;
  --text-primary: #f3f3f3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.slider-home {
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.slider-home__slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-home__slider-video,
.slider-home__slider--image-1,
.slider-home__slider--image-2,
.slider-home__slider--image-3 {
  width: 100%;
  height: 100vh;
}

.slider-home__slider-video {
  position: absolute;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.5);
}

.slider-home__slider--image-1,
.slider-home__slider--image-2,
.slider-home__slider--image-3 {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: zoomIn 7s 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-home__slider--image-1 {
  background-image: url('./image-1.jpg');
}

.slider-home__slider--image-2 {
  background-image: url('./image-2.jpg');
}

.slider-home__slider--image-3 {
  background-image: url('./image-3.jpg');
}

.slider-home__slider-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  font-size: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--text-primary);
  font-size: 64px;
  line-height: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.53);
}

.slider-home__slider-text-content {
  margin-top: -200px;
  z-index: 1;
}

.slider-home__slider-text--primary-color {
  color: var(--primary-color);
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
    background-position: 50% 50%;
  }

  100% {
    transform: scale(1.5);
    background-position: 50% 50%;
  }
}
